.container-nav{
    height: 15vh;
    }
.classbutton{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    margin: 7px 0;
   
}

div img::before{
    content:url("/profile.jpg");
    height:10px;
    width:10px;
    display:block;
}
