
.container{
    min-height:40vh;
}
.rowHero{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:auto;
    background-color: yellow;
}
.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    
    background-color: pink;    
}
.btn{
    width:50%;
    background-color:aquamarine;
    color:black;    
    margin-bottom: 1vh;
    font-weight: bold;
}
.but{
    display:flex;
    justify-content: left;
}
.voyager{
    width:100%;
    height:auto;
}