.divCont{
    display:flex;
    flex-wrap: nowrap;
    min-height: 30vh;
    background-color: aquamarine;
}
.myti{
    font-size: 1.8rem;
    color:black;
}
.bi{
    width:18px;
}
.navImg{
    display:flex;
    justify-content: center;
    align-items: center;
    width:70px;
}