.pic404{
    margin:1vh auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.pic404 img{
    width:100vw;
}
.highest{  
    height:100% ;
    background-color: rgb(234, 221, 247);
} 